* {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: .18s;
  -moz-transition-timing-function: cubic-bezier(0, 0, 1, 1);
}
body {
  padding-left: 50px;
  background:#ffffff;
}

header{
  
  
}
/*.logo{
  
  width=50px;
  height=100px;
  position: absolute;
  margin-top:-75px;
  top: 50%;
  left: 50%;
    
  transform: translate(-50%, -50%);*/
  
  
}
.name{
 color:red;
 text-align: center;
 font-weight:bold;

}
a{
color: rgb(255,105,180);
text-decoration: none;
font-weight:bold;
}
.holy{
  
  font-weight:bold;


}
li {
  margin:12.5px 0px;
}
.red{color:red;}
.blue{color:blue;}
.purple{color:purple;}
.black{color:black;}
.green{color:green;}
.green{color:green;}



