* {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: .18s;
  -moz-transition-timing-function: cubic-bezier(0, 0, 1, 1);
}
body {
  padding-left: 50px;
  
}

header{
  
  
}
a{
color: rgb(255,105,180);
text-decoration: none;
font-weight:bold;
}
.holy{
  
  font-weight:bold;


}
li {
  margin:12.5px 0px;
}
.red{color:red;}
.blue{color:blue;}
.purple{color:purple;}
.black{color:black;}
.green{color:gren;}



